/* * {
    border: 1px solid red;
} */
.cart-main-container {
    /* border: 1px solid; */
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 1rem 1rem;
    /* margin-top: -12rem; */
}

.left-column {
    margin-right: 3rem;
    width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-column {
    width: 20rem;
}

.right-column img {
    padding-bottom: 1rem;
}

.left-add-on {
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.add-on {
    /* border: 1px solid red; */
    width: 45rem;
    height: 10rem;
    display: flex;
}

.add-on-list {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.add-on-list h2 {
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
}

.add-on-list img {
    width: 5rem;
    border: 1px solid rgb(214, 207, 207);
    border-radius: 6rem;
}

.add-on-list-two {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chooseAdd {
    display: flex;
    align-items: flex-end;
    /* width: 12rem; */
}

.chooseAdd button {
    width: 8rem;
    margin-right: -4rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.card-add-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.card-product-box-top {
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
}

.card-img-box img {
    width: 6rem;
    height: 6rem;
    padding: 0.5rem;
}

.card-details-box {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.card-title-box {
    display: flex;
    flex-direction: row;
}

.card-title-box h6 {
    font-size: 0.8rem;
}

.card-details-box i {
    cursor: pointer;
}

.billing-container {
    margin-top: 1rem;
    padding-top: 2rem;
}

.payble-box {
    /* border: 1px solid; */
    display: flex;
    width: 20rem;
    height: 7rem;
    padding: 0.5rem;
    border-radius: 0.8rem;
    border: 1px solid rgb(220, 213, 213);
}

.sub-payble-box {
    width: 100%;
    /* border: 1px solid; */
}

.refundable-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delivery-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.payble-monthly {
    width: 25rem;
    padding: 0.5rem;
    margin-right: 4rem;
}

.sub-payble-monthly {
    padding: 0.5rem;
    border-radius: 0.8rem;
    border: 1px solid rgb(220, 213, 213);
}

.sub-billing-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.products-rent-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.payment-container button {
    width: 18rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.5rem;
}

.sub-button-content {
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}

.sub-button-content h6 {
    margin-bottom: 0;
}

.coupon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.rent-box {
    font-size: 0.8rem;
    color: rgb(130, 121, 121);
}

.price-content h6 {
    font-weight: 400;
}

.pay-post {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quantity-set {
    display: flex;
    flex-direction: row;
    width: 9rem;
    height: 2rem;
    border: 1px solid rgb(186, 180, 180);
    justify-content: space-around;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.3rem;
    align-items: center;
    margin-right: 0.5rem;
}

.quantity-set i {
    cursor: pointer;
}

#select-months-box {
    width: 9rem;
    height: 2rem;
    margin-right: 0.5rem;
    border: 1px solid rgb(186, 180, 180);
    transition: background-color 0.5s ease-in-out;
}

#select-months-box:hover {
    background-color: rgb(209, 203, 203);
}

.cart-quantity-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#payment-heading {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.condition-box p{
    font-size: 0.8rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
}

.condition-box {
    display: flex;
    align-items: center;
}

.banking-box {
    font-size: 0.9rem;
    font-weight: 300;
    cursor: pointer;
    background-color: white;
    border-radius: 0.8rem;
}

.offcanvas-body {
    padding: 2rem;
    border-radius: 2.5rem;
    background-color: #f5f7fa;
}

.offcanvas-body h6 {
    font-weight: 300;
}