.card {
    display: flex;
    /* width: 8rem; */
    /* border: 1px solid red; */
}

.img {
    /* border: 1px solid; */
    zoom: 40%;
    object-fit: contain;
    padding-top: 0.5rem;
}

.row {
    flex-wrap: nowrap;
    margin: 0;
    margin-left: 9rem;
}

.col {
    width: 9.2rem;
    height: 5rem;
}

.card-body {
    /* border: 1px solid; */
    padding-top: 1rem;
    padding-bottom: 0rem;
}

.card-title {
    /* border: 1px solid; */
    font-size: 0.7rem;
}