/* * {
    border: 1px solid blue;
} */

.cities-box {
    padding: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    margin-right: 0.34rem;
    border: 1px solid white;
    border-radius: 1rem;
}

.cities-box {
    cursor: pointer;
}

.cities-box:hover {
    border: 1px solid gray;
}

.cities-box p {
    margin: 0;
}