.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.facebook {
    border: 1px solid;
    width: 1.8rem;
    height: 1.7rem;
    border-radius: 5rem;
    margin-top: 0.5rem;
    padding-top: 0.1rem;
    margin-right: 0.3rem;
}

.twitter {
    border: 1px solid;
    width: 1.8rem;
    height: 1.7rem;
    border-radius: 5rem;
    margin-top: 0.5rem;
    padding-left: 0.4rem;
    padding-top: 0.1rem;
    margin-right: 0.3rem;
}

.linkedin {
    border: 1px solid;
    width: 1.8rem;
    height: 1.7rem;
    border-radius: 5rem;
    margin-top: 0.5rem;
    padding-left: 0.4rem;
    padding-top: 0.1rem;
    margin-right: 0.3rem;
}

.youtube {
    border: 1px solid;
    width: 1.8rem;
    height: 1.7rem;
    border-radius: 5rem;
    margin-top: 0.5rem;
    padding-left: 0.3rem;
    padding-top: 0.1rem;
    margin-right: 0.3rem;
}

.instagram {
    border: 1px solid;
    width: 1.8rem;
    height: 1.7rem;
    border-radius: 5rem;
    margin-top: 0.5rem;
    padding-left: 0.4rem;
    padding-top: 0.1rem;
    margin-right: 0.3rem;
}

.dribbble {
    border: 1px solid;
    width: 1.8rem;
    height: 1.7rem;
    border-radius: 5rem;
    margin-top: 0.5rem;
    padding-left: 0.4rem;
    padding-top: 0.1rem;
}
