#furniture-column {
    /* border: 1px solid orangered; */
    width: 18rem;
    height: 10rem;
}

#furniture-title {
    background-color: white;
    border: 1px solid rgb(234, 226, 226);
    height: 2rem;
    text-align: center;
    padding: 0.5rem;
    margin-top: -0.5rem;
}

#furniture-image {
    /* border: 1px solid; */
    height: 14rem;
}

.furniture-main-contianer {
    /* border: 1px solid; */
    margin-top: -6rem;
}
