.carousel {
    border-radius: 2rem;
    /* border: 1px solid red; */
}

.carousel-inner {
    /* border: 1px solid blue; */
    border-radius: 2rem;
    z-index: 1;
}

.carousel-indicators {
    display: flex;
    width: 1;
    /* border: 1px solid red; */
}

.slider-know-more {
    /* border: 1px solid red; */
    position: relative;
    bottom: 2rem;
    z-index: 0;
}

.slider-know-more span {
    background-color: #d4e0e9;
    text-align: center;
    font-size: 0.7rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-bottom: 0.8rem;
}

.know-more {
    text-decoration: none;
    padding-left: 0.6rem;
    color: black;
    padding-right: 0.2rem;
}

.carousel-control-prev-icon {
    position: absolute;
    left: 0;
    background-color: black;
    height: 3em;
}

.carousel-control-next-icon {
    position: absolute;
    right: 0;
    background-color: black;
    height: 3em;
}