.login-image {
    width: 20rem;
    height: 30rem;
    border-radius: 0.4rem;
}

#modal-dialog-box {
    /* border: 1px solid blue; */
    min-width: 38rem;
}

.number-range {
    width: 16.5rem;
    display: flex;
    justify-content: space-between;
    color: gray;
    padding-top: 0.5rem;
}

.number-range small {
    color: red;
}

.user-details-container {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 2rem;
}