.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}

#carousel-inner {
    padding: 1rem;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

#carouselExampleControls {
    background-color: #f5f7fc;
    /* border: 1px solid; */
    border-radius: 0;
}

.product-list-container {
    /* border: 1px solid blue; */
    display: flex;
    /* flex-direction: row; */
    min-width: 100vw;
    height: 20rem;
    padding-left: 10rem;
    overflow-x: auto;
}

.product-list-container::-webkit-scrollbar {
    min-width: 0;
}

#card-container {
    min-width: 14rem;
    height: 18rem;
    cursor: pointer;
    /* border: 1px solid red; */
}

.see-more-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#see-more-button {
    margin-bottom: 1rem;
}

span {
    /* border: 1px solid red; */
    height: 2rem;
    /* padding-top: 1rem; */
    margin-top: 0.4rem;
}

@media (min-width: 768px) {
    .card img {
        height: 11rem;
    }
}