.card-container {
    /* border: 1px solid blue; */
    width: 19rem;
    margin-right: 2rem;
    /* margin-left: 1rem; */
}

.column {
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    /* width: 100%; */
}

#renting-main-container {
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 63rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-image {
    width: 4rem;
    padding-bottom: 1rem;
}

.card-title-name {
    padding-bottom: 0.3rem;
    font-weight: 400;
    color: #313131;
}

.card-text-space {
    font-weight: 300;
    padding-bottom: 4rem;
    color: #717171;
}

.know-more-option {
    color: #1dbdc0;
    font-family: sans-serif;
    cursor: pointer;
}