#card-container {
    /* border: 1px solid; */
    height: 17rem;
    /* width: 1rem; */
}

#title-search-text {
    /* border: 1px solid; */
    text-decoration: none;
    color: #313131;
    font-size: 0.95rem;
    font-weight: 400;
}

#card-text-search {
    /* border: 1px solid; */
    padding-left: 1rem;
    text-decoration: none;
    color: #313131;
    font-size: 0.85rem;
}

a {
    text-decoration: none;
}