/* * {
    border: 1px solid red;
} */
.main-container-single-product {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35rem;
    position: relative;
}

.all-details-container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    width: 61rem;
}

.all-details-container::-webkit-scrollbar {
    min-width: 0;
}

.plan-price-container {
    /* border: 1px solid yellow; */
    width: 24.4rem;
    box-shadow: -6px 4px 20px 0 rgba(0, 0, 0, .05);
    position: sticky;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.how-long-container {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgba(245, 241, 241, 0.655);
    padding: 0.7rem 1.5rem;
}

.title-text-box {
    font-weight: 300;
    font-size: 1.3rem;
    padding: 0.5rem 1.5rem;
}

.image-container-size {
    /* border: 1px solid red; */
    width: 100%;
    height: 50rem;
}

.product-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.option-container-one {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1rem;
    /* border: 1px solid blue; */
    width: 100vw;
    padding-left: 1.5rem;
    background-color: rgb(229, 232, 231);
    border-bottom: 1px solid rgb(205, 197, 197);
    border-right: 1px solid rgb(176, 170, 170);
    cursor: pointer;
}

.option-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1rem;
    /* border: 1px solid blue; */
    width: 100vw;
    padding-left: 1.5rem;
    cursor: pointer;
}

.sub-option-text {
    font-size: 1.6rem;
    font-weight: 300;
}

.rent-select-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0.5rem;  */
    /* border: 1px solid rgb(227, 222, 222); */
    width: 22rem;
    margin: 1rem auto;
}

.sub-rent-container {
    /* border: 1px solid; */
    display: flex;
    width: 100%;
    height: 5rem;
    flex-direction: row;
    justify-content: flex-start;
}

.monthly-container {
    border-top: 1px solid rgb(241, 236, 236);
    border-left: 1px solid rgb(241, 236, 236);
    border-bottom: 1px solid rgb(241, 236, 236);
    border-right: 1px solid rgb(241, 236, 236);
    width: 100%;
    text-align: left;
    padding: 1rem 1rem;
    font-weight: 300;
}

.monthly-container h6 {
    font-weight: 400;
}

.monthly-container p {
    font-size: 0.7rem;
}

.sec-sub-container {
    border-bottom: 1px solid rgb(241, 236, 236);
    border-left: 1px solid rgb(241, 236, 236);
    border-right: 1px solid rgb(241, 236, 236);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.7rem;
}

.sec-sub-container p {
    margin: 0rem;
    font-size: 0.8rem;
}

.sec-sub-container a {
    color: skyblue;
    font-size: 0.8rem;
}

.compare-container {
    border: 1px solid rgb(32, 206, 200);
    margin: 0.6rem auto;
    border-radius: 0.3rem;
    cursor: pointer;
}

.compare-container button {
    /* border: 1px solid; */
    padding: 0.5rem 6.1rem 0rem;
    color: rgb(32, 206, 200);
    font-weight: 300;
    background-color: white;
}

.delivery-pin-container {
    border: 1px solid rgb(208, 197, 197);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    padding: 0.4rem 0.3rem 0.4rem;
}

.delivery h6 {
    /* padding: 0.5rem; */
    /* border: 1px solid; */
    font-size: 0.9rem;
    padding-top: 0.4rem;
    /* padding-left: 0rem; */
    padding-right: 0.4rem;
    font-weight: 400;
}

.pin input {
    width: 11rem;
    border-bottom: 2px dotted;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.buy-now-button {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    margin: 0.5rem;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
}

.buy-now-button button{
    width: 100%;
}

