.categories-container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.product-container {
  margin-left: 10rem;
}

.renting-details {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}

#header-container {
  height: 4rem;
  
}

#main-body {
  /* border: 1px solid red; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#products-container {
  /* border: 1px solid; */
  display: flex;
  flex-wrap: wrap;
  padding-left: 7rem;
  margin-left: auto;
  align-items: center;
  /* justify-content: center; */
}